:root {
  --x-110833: rgba(17, 8, 51, 1);
  --history-page-font-family: "Drumnik", Helvetica;
  --history-page-font-weight: 400;
  --history-page-font-size: 96px;
  --history-page-letter-spacing: 0px;
  --history-page-line-height: 110.00000238418579%;
  --history-page-font-style: normal;
  --desktop-navigation-font-family: "Lato", Helvetica;
  --desktop-navigation-font-weight: 600;
  --desktop-navigation-font-size: 14px;
  --desktop-navigation-letter-spacing: 0px;
  --desktop-navigation-line-height: 100%;
  --desktop-navigation-font-style: normal;
  --desktop-heading-h1-font-family: "PF BeauSans Pro", Helvetica;
  --desktop-heading-h1-font-weight: 900;
  --desktop-heading-h1-font-size: 52px;
  --desktop-heading-h1-letter-spacing: 0px;
  --desktop-heading-h1-line-height: 110.00000238418579%;
  --desktop-heading-h1-font-style: normal;
  --desktop-heading-h1-alt-font-family: "PF BeauSans Pro", Helvetica;
  --desktop-heading-h1-alt-font-weight: 900;
  --desktop-heading-h1-alt-font-size: 52px;
  --desktop-heading-h1-alt-letter-spacing: 0px;
  --desktop-heading-h1-alt-line-height: 139.9999976158142%;
  --desktop-heading-h1-alt-font-style: normal;
  --desktop-heading-h2-font-family: "PF BeauSans Pro", Helvetica;
  --desktop-heading-h2-font-weight: 900;
  --desktop-heading-h2-font-size: 52px;
  --desktop-heading-h2-letter-spacing: 0px;
  --desktop-heading-h2-line-height: 110.00000238418579%;
  --desktop-heading-h2-font-style: normal;
  --desktop-heading-title-font-family: "PF BeauSans Pro", Helvetica;
  --desktop-heading-title-font-weight: 600;
  --desktop-heading-title-font-size: 32px;
  --desktop-heading-title-letter-spacing: 0px;
  --desktop-heading-title-line-height: 110.00000238418579%;
  --desktop-heading-title-font-style: normal;
  --desktop-heading-title-alt-font-family: "PF BeauSans Pro", Helvetica;
  --desktop-heading-title-alt-font-weight: 900;
  --desktop-heading-title-alt-font-size: 32px;
  --desktop-heading-title-alt-letter-spacing: 0px;
  --desktop-heading-title-alt-line-height: 100%;
  --desktop-heading-title-alt-font-style: normal;
  --desktop-heading-subtitle-font-family: "Lato", Helvetica;
  --desktop-heading-subtitle-font-weight: 600;
  --desktop-heading-subtitle-font-size: 24px;
  --desktop-heading-subtitle-letter-spacing: 0px;
  --desktop-heading-subtitle-line-height: 129.99999523162842%;
  --desktop-heading-subtitle-font-style: normal;
  --desktop-heading-subtitle-accent-font-family: "Lato", Helvetica;
  --desktop-heading-subtitle-accent-font-weight: 900;
  --desktop-heading-subtitle-accent-font-size: 24px;
  --desktop-heading-subtitle-accent-letter-spacing: 0px;
  --desktop-heading-subtitle-accent-line-height: 110.00000238418579%;
  --desktop-heading-subtitle-accent-font-style: normal;
  --desktop-text-l-upper-font-family: "Lato", Helvetica;
  --desktop-text-l-upper-font-weight: 700;
  --desktop-text-l-upper-font-size: 20px;
  --desktop-text-l-upper-letter-spacing: 0px;
  --desktop-text-l-upper-line-height: 120.00000476837158%;
  --desktop-text-l-upper-font-style: normal;
  --desktop-text-l-font-family: "Lato", Helvetica;
  --desktop-text-l-font-weight: 500;
  --desktop-text-l-font-size: 20px;
  --desktop-text-l-letter-spacing: 0px;
  --desktop-text-l-line-height: 110.00000238418579%;
  --desktop-text-l-font-style: normal;
  --desktop-text-m-font-family: "Lato", Helvetica;
  --desktop-text-m-font-weight: 400;
  --desktop-text-m-font-size: 16px;
  --desktop-text-m-letter-spacing: 0px;
  --desktop-text-m-line-height: 150%;
  --desktop-text-m-font-style: normal;
  --desktop-text-m-accent-font-family: "Lato", Helvetica;
  --desktop-text-m-accent-font-weight: 600;
  --desktop-text-m-accent-font-size: 16px;
  --desktop-text-m-accent-letter-spacing: 0px;
  --desktop-text-m-accent-line-height: 110.00000238418579%;
  --desktop-text-m-accent-font-style: normal;
  --desktop-text-xs-font-family: "Lato", Helvetica;
  --desktop-text-xs-font-weight: 400;
  --desktop-text-xs-font-size: 14px;
  --desktop-text-xs-letter-spacing: 0px;
  --desktop-text-xs-line-height: 120.00000476837158%;
  --desktop-text-xs-font-style: normal;
  --desktop-text-xs-accent-font-family: "Lato", Helvetica;
  --desktop-text-xs-accent-font-weight: 600;
  --desktop-text-xs-accent-font-size: 14px;
  --desktop-text-xs-accent-letter-spacing: 0.14px;
  --desktop-text-xs-accent-line-height: 120.00000476837158%;
  --desktop-text-xs-accent-font-style: normal;
  --desktop-text-xs-alt-font-family: "Lato", Helvetica;
  --desktop-text-xs-alt-font-weight: 400;
  --desktop-text-xs-alt-font-size: 14px;
  --desktop-text-xs-alt-letter-spacing: 0px;
  --desktop-text-xs-alt-line-height: 100%;
  --desktop-text-xs-alt-font-style: normal;
  --desktop-text-tag-font-family: "Lato", Helvetica;
  --desktop-text-tag-font-weight: 600;
  --desktop-text-tag-font-size: 12px;
  --desktop-text-tag-letter-spacing: 0px;
  --desktop-text-tag-line-height: 100%;
  --desktop-text-tag-font-style: normal;
  --desktop-text-XL-font-family: "PF BeauSans Pro", Helvetica;
  --desktop-text-XL-font-weight: 400;
  --desktop-text-XL-font-size: 48px;
  --desktop-text-XL-letter-spacing: 0px;
  --desktop-text-XL-line-height: 110.00000238418579%;
  --desktop-text-XL-font-style: normal;
  --desktop-text-XXL-font-family: "PF BeauSans Pro", Helvetica;
  --desktop-text-XXL-font-weight: 400;
  --desktop-text-XXL-font-size: 82px;
  --desktop-text-XXL-letter-spacing: 0px;
  --desktop-text-XXL-line-height: 110.00000238418579%;
  --desktop-text-XXL-font-style: normal;
  --mobile-heading-h1-font-family: "PF BeauSans Pro", Helvetica;
  --mobile-heading-h1-font-weight: 900;
  --mobile-heading-h1-font-size: 32px;
  --mobile-heading-h1-letter-spacing: 0px;
  --mobile-heading-h1-line-height: 110.00000238418579%;
  --mobile-heading-h1-font-style: normal;
  --mobile-heading-h1-alt-font-family: "PF BeauSans Pro", Helvetica;
  --mobile-heading-h1-alt-font-weight: 900;
  --mobile-heading-h1-alt-font-size: 32px;
  --mobile-heading-h1-alt-letter-spacing: 0px;
  --mobile-heading-h1-alt-line-height: 139.9999976158142%;
  --mobile-heading-h1-alt-font-style: normal;
  --mobile-heading-h2-font-family: "PF BeauSans Pro", Helvetica;
  --mobile-heading-h2-font-weight: 900;
  --mobile-heading-h2-font-size: 24px;
  --mobile-heading-h2-letter-spacing: 0px;
  --mobile-heading-h2-line-height: 110.00000238418579%;
  --mobile-heading-h2-font-style: normal;
  --mobile-heading-h2-accent-font-family: "PF BeauSans Pro", Helvetica;
  --mobile-heading-h2-accent-font-weight: 900;
  --mobile-heading-h2-accent-font-size: 32px;
  --mobile-heading-h2-accent-letter-spacing: 0px;
  --mobile-heading-h2-accent-line-height: 110.00000238418579%;
  --mobile-heading-h2-accent-font-style: normal;
  --mobile-heading-title-font-family: "PF BeauSans Pro", Helvetica;
  --mobile-heading-title-font-weight: 600;
  --mobile-heading-title-font-size: 24px;
  --mobile-heading-title-letter-spacing: 0px;
  --mobile-heading-title-line-height: 110.00000238418579%;
  --mobile-heading-title-font-style: normal;
  --mobile-heading-title-alt-font-family: "PF BeauSans Pro", Helvetica;
  --mobile-heading-title-alt-font-weight: 400;
  --mobile-heading-title-alt-font-size: 20px;
  --mobile-heading-title-alt-letter-spacing: 0px;
  --mobile-heading-title-alt-line-height: 110.00000238418579%;
  --mobile-heading-title-alt-font-style: normal;
  --mobile-heading-subtitle-font-family: "PF BeauSans Pro", Helvetica;
  --mobile-heading-subtitle-font-weight: 600;
  --mobile-heading-subtitle-font-size: 20px;
  --mobile-heading-subtitle-letter-spacing: 0px;
  --mobile-heading-subtitle-line-height: 110.00000238418579%;
  --mobile-heading-subtitle-font-style: normal;
  --mobile-text-l-font-family: "Lato", Helvetica;
  --mobile-text-l-font-weight: 500;
  --mobile-text-l-font-size: 20px;
  --mobile-text-l-letter-spacing: 0px;
  --mobile-text-l-line-height: 110.00000238418579%;
  --mobile-text-l-font-style: normal;
  --mobile-text-XL-font-family: "PF BeauSans Pro", Helvetica;
  --mobile-text-XL-font-weight: 400;
  --mobile-text-XL-font-size: 42px;
  --mobile-text-XL-letter-spacing: 0px;
  --mobile-text-XL-line-height: 110.00000238418579%;
  --mobile-text-XL-font-style: normal;
  --mobile-text-xs-font-family: "Lato", Helvetica;
  --mobile-text-xs-font-weight: 400;
  --mobile-text-xs-font-size: 14px;
  --mobile-text-xs-letter-spacing: 0px;
  --mobile-text-xs-line-height: 120.00000476837158%;
  --mobile-text-xs-font-style: normal;
  --mobile-text-tag-font-family: "Lato", Helvetica;
  --mobile-text-tag-font-weight: 600;
  --mobile-text-tag-font-size: 12px;
  --mobile-text-tag-letter-spacing: 0px;
  --mobile-text-tag-line-height: 100%;
  --mobile-text-tag-font-style: normal;
  --mobile-text-m-font-family: "Lato", Helvetica;
  --mobile-text-m-font-weight: 400;
  --mobile-text-m-font-size: 16px;
  --mobile-text-m-letter-spacing: 0px;
  --mobile-text-m-line-height: 110.00000238418579%;
  --mobile-text-m-font-style: normal;
  --mobile-text-xs-accent-font-family: "Lato", Helvetica;
  --mobile-text-xs-accent-font-weight: 600;
  --mobile-text-xs-accent-font-size: 14px;
  --mobile-text-xs-accent-letter-spacing: 0px;
  --mobile-text-xs-accent-line-height: 120.00000476837158%;
  --mobile-text-xs-accent-font-style: normal;
  --BSK-COLOR-border-color: rgba(221, 221, 221, 1);
  --BSK-COLOR-background-grey: rgba(243, 243, 243, 1);
  --BSK-COLOR-text-header: rgba(87, 17, 142, 1);
  --BSK-COLOR-text-white: rgba(255, 255, 255, 1);
  --BSK-COLOR-text-grey: rgba(143, 143, 143, 1);
  --BSK-COLOR-text-gray-alt: rgba(210, 210, 210, 1);
  --BSK-COLOR-text-dark: rgba(53, 53, 55, 1);
  --BSK-COLOR-text-dark-alt: rgba(84, 84, 84, 1);
  --BSK-COLOR-text-accent: rgba(177, 15, 252, 1);
  --BSK-COLOR-button-primary: rgba(118, 62, 230, 1);
  --BSK-COLOR-button-pink: rgba(177, 15, 252, 1);
  --BSK-COLOR-button-black: rgba(53, 53, 55, 1);
  --BSK-COLOR-background-white: rgba(255, 255, 255, 1);
  --BSK-COLOR-tag-text: rgba(143, 143, 143, 1);
  --BSK-COLOR-tag-border: rgba(219, 219, 219, 1);
  --BSK-COLOR-text-link: rgba(118, 62, 230, 1);
  --BSK-COLOR-tag-fill-black: rgba(53, 53, 55, 1);
  --BSK-COLOR-tag-text-white: rgba(255, 255, 255, 1);
  --BSK-COLOR-background-peoprle: rgba(57, 49, 133, 1);
  --BSK-COLOR-background-peorple-light: rgba(242, 240, 255, 1);
  --BSK-COLOR-button-disabled: rgba(199, 199, 199, 1);
  --BSK-COLOR-ad-background: rgba(229, 222, 237, 1);
  --BSK-COLOR-ad-text: rgba(57, 49, 133, 1);
  --BSK-COLOR-tag-brand: rgba(177, 15, 252, 1);
  --BSK-COLOR-background-peorple-grey: rgba(97, 89, 173, 1);
  --BSK-COLOR-background-dark: rgba(28, 18, 70, 1);
  --BSK-COLOR-history-page: rgba(150, 140, 100, 1);
  --BSK-COLOR-icon-pink: rgba(228, 216, 250, 1);
  --BSK-COLOR-icon-white: rgba(255, 255, 255, 1);
  --BSK-COLOR-icon-grey: rgba(143, 143, 143, 1);
  --BSK-COLOR-icon-grey-alt: rgba(210, 210, 210, 1);
  --BSK-COLOR-icon-dark: rgba(53, 53, 55, 1);
  --BSK-COLOR-icon-dark-alt: rgba(84, 84, 84, 1);
  --BSK-COLOR-icon-accent: rgba(177, 15, 252, 1);
  --BSK-COLOR-icon-link: rgba(118, 62, 230, 1);
  --BSK-COLOR-icon-dark-peorple: rgba(87, 17, 142, 1);
  --BSK-COLOR-icon-error: rgba(230, 70, 70, 1);
  --BSK-COLOR-icon-error-alt: rgba(250, 235, 235, 1);
  --BSK-COLOR-button-hover: rgba(177, 138, 255, 1);
  --BSK-COLOR-button-focus: rgba(78, 16, 132, 1);
}
